.alert {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid transparent;
}

.alert-danger {
    background-color: #f8d7da;
    color: #b83441;
    border-color: #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}
