* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-image: url('/img/light_back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

.dark-theme {
    background-image: url('/img/black_back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dark-theme nav a {
    text-decoration: none;
    color: rgb(139, 38, 106);
    font-size: 14px;
}

nav a:hover {
    color: rgb(151, 43, 155);
}

.dark-theme nav a:hover {
    color: rgb(234, 161, 236);
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
}

.cart img {
    width: 20px;
    height: 20px;
}

.cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(65, 192, 128);
    color: rgb(255, 255, 255);
    font-size: 10px;
    border-radius: 50%;
    padding: 2px 6px;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.rectangle {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 400px;
    height: 50px;
    background: rgba(235, 59, 59, 0.7);
    /*background-color: #ffa1b1;*/
    color: rgb(255, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out {
    opacity: 0;
}